<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div>
        <ul>
            <% for(var i = 0 ; i < todos.length ; i++) { %>
            <li>
                <%= todos[i].name %>
                <br>
                <%= todos[i].id %>
                <a href="/todo/delete/<%= todos[i].id %>">delete</a>
            </li>
            <% } %>
        </ul>
    </div>

    <!-- Link the todo.js file -->
    <!-- <script src="/javaScript/todo.js"></script> -->
</body>

</html>
